$maincolor : #b94047;
$subcolor : white;

$title_font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$number_font: Arial, Helvetica, sans-serif;

.result_card {
    background-color: $maincolor ;

    border: groove 2px black;
    padding-bottom: 0;
}

.internal_body1 {
    padding-bottom: 7px;
}

.card_no_text {
    color: $subcolor;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: $number_font;
    padding-bottom: 0;
    margin-bottom: 0;
}


.card_result_div {
    background-color: $subcolor;
    display: flex;

    border-radius: 5px;
    padding: 8px;
}

.card_circle_ico {
    width: 30px;
    height: 30px;
}

.card_xmark_ico {
    width: 35px;
    height: 35px;
}

.card_correct_text {
    color: $maincolor;
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-left: 5px;
}

.card_incorrect_text {
    color: #1e4588;
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-left: 5px;
}

.result_internal_card {
    padding-top: 3px;
    padding-bottom: 10px;
}

.result_question_card {
    background-color: $subcolor;
    border-radius: 5px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
}


.result_question_title {
    color: #b94047;
    font-family: $title_font;
    font-weight: bold;
    border-bottom: solid 1px rgba(0,0,0, 0.1);
    padding-bottom: 5px;
}

.result_answer_body {
    background-color: $subcolor;
    border-radius: 5px;

    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 8px;
}

.result_answer_title {
    color: #b94047;
    font-family: $title_font;
    font-weight: bold;
    border-bottom: solid 1px rgba(0,0,0, 0.1);
    padding-bottom: 5px;
}