$genre_color1: #006e54;
$genre_color2: #b94047;
$genre_color3: #bf794e;
$genre_color4: #aa4c8f;
$genre_color5: #824880;
$genre_color6: #2ca9e1;
$genre_color7: #dccb18;
$genre_color8: #b8d200;
$genre_color9: #9ea1a3;

$title_font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.background_science {
    background-color: $genre_color1;
}
.font_color_science {
    color: $genre_color1;
}

.background_literature {
    background-color: $genre_color2;
}
.font_color_literature {
    color: $genre_color2;
}

.background_socialstudy{
    background-color: $genre_color3;
}
.font_color_socialstudy {
    color: $genre_color3;
}

.background_music {
    background-color: $genre_color4;
}
.font_color_music{
    color: $genre_color4;
}

.background_sports{
    background-color: $genre_color5;
}
.font_color_sports {
    color: $genre_color5;
}

.background_entertainment {
    background-color: $genre_color6;
}
.font_color_entertainment {
    color: $genre_color6;
}

.background_subculture{
    background-color: $genre_color7;
}
.font_color_subculture {
    color: $genre_color7;
}

.background_lifestyle {
    background-color: $genre_color8;
}
.font_color_lifestyle {
    color: $genre_color8;
}

.background_nongenre {
    background-color: $genre_color9;
}
.font_color_nongenre {
    color: $genre_color9;
}

.quiz_card_body {
    border: solid 2px black;
    border-radius: 8px;
    transition: transform 0.25s ease-out;

    &:hover {
        transform: scale(1.05);
    }
}

.card_no_text {
    color: rgba(255,255,255,0.8);
    font-size: 1.2rem;
}

.values_card_question_body {
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border: white;
    border-radius: 3px; 
}

.values_question_title {
    font-size: 140%;
    font-weight: bold;
    border-bottom: solid 1px rgba(0,0,0, 0.1);
    padding-bottom: 5px;
    font-family: $title_font;
}

.values_question_textarea {
    width: 100%;
    border: none;
    resize: none;
}

.values_card_answer_body {
    width: 60%;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    border-radius: 3px;
}

.values_answer_title {
    font-size: 140%;
    font-weight: bold;
    font-family: $title_font;
    padding-top: 0px;
    border-bottom: solid 1px rgba(0,0,0, 0.1);
    padding-bottom: 5px;
}

.values_answer_textarea {
    width: 100%;
    max-lines: 3;
    border: none;
    resize: none;
}
